@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 0;
}

.container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container nav ul li {
  display: inline-block;
  margin-left: 2rem;
  color: #230B59;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container nav .logo h1 {
  color: #230B59;
  font-weight: 900;
  font-size: 1.8rem;
}

.container nav .btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.container nav .btn-group .btn1 {
  padding: .9rem 1.5rem;
  color: #230B59;
  border: 1px solid #4840BB;
  border-radius: 6px;
}

.container nav .btn-group .btn2 {
  background: #4840BB;
  border-radius: 6px;
  padding: .9rem 1.5rem;
  color: #fff;
  border: 0;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper .banner img {
  width: 90%;
}

.wrapper .bannerDesc {
  padding-right: 4rem;
  margin-right: 5rem;
}

.wrapper .bannerDesc h1 {
  height: 57px;
  font-weight: 400;
  font-size: 50px;
  line-height: 57px;
  letter-spacing: 1.899px;
  color: #230B59;
}

.wrapper .bannerDesc p {
  margin: 6rem 0 3rem 0;
  height: 22px;
  line-height: 24px;
  color: #230B59;
}

.wrapper .bannerDesc button {
  background: #4840BB;
  border-radius: 6px;
  padding: .9rem 1.5rem;
  color: #fff;
  border: 0;
}

.grid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
  padding: 1rem 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grid-container .card {
  padding: 1rem 0;
}

.grid-container .card h3 {
  padding: .5rem 0;
  color: #230B59;
  font-weight: 600;
  font-size: 1.5rem;
}

.grid-container .card h3 i {
  font-size: 1rem;
}

.grid-container .card p {
  color: #230B59;
  font-size: 15px;
}

.grid-container .card1 {
  padding: 1rem 0;
}

.grid-container .card1 h3 {
  padding-bottom: .5rem;
  color: #230B59;
  font-weight: 900;
  font-size: 1.7rem;
}

.grid-container .card1 h3 i {
  color: #230B59;
  margin-right: .5rem;
}

.grid-container .card1 p {
  color: #230B59;
  font-size: 15px;
}

.flex-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 2fr 1fr;
      grid-template-columns: 2fr 1fr 2fr 1fr;
  gap: 1rem;
  padding: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-container .card1 {
  padding: 0 .5rem;
}

.flex-container .card1 h1 {
  height: 260px;
  font-weight: 400;
  font-size: 56px;
  line-height: 48px;
  letter-spacing: 3px;
  color: #230B59;
  margin-top: 1rem;
}

.flex-container .card1 p {
  height: 87px;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #230B59;
  padding: .5rem 0;
}

.flex-container .card1 .btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 0;
  margin: 30px auto;
}

.flex-container .card1 .btn-group .btns1 {
  background: #4840BB;
  border-radius: 6px;
  padding: .9rem 1.5rem;
  color: #fff;
  border: 0;
  font-size: 1rem;
}

.flex-container .card1 .btn-group .btns2 {
  height: 40px;
  font-weight: 700;
  font-size: 1rem;
  line-height: 22px;
  color: #230B59;
  border: 0;
  background: transparent;
  margin-right: 2rem;
}

.flex-container .card {
  margin-left: .7rem;
  position: relative;
}

.flex-container .card .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-container .card .title img {
  margin-top: .3rem;
  width: 10%;
}

.flex-container .card p {
  height: 36px;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  color: #000000;
  padding-left: .7rem;
  margin-top: .7rem;
}

.flex-container .card .position {
  position: absolute;
  height: 97px;
  left: -38px;
  top: 32%;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 12px;
  font-size: 12px;
  margin-top: .2rem;
  z-index: 1;
  opacity: .8;
}

.flex-container .card .position p {
  color: #000000;
  margin: 13px 0 0 0;
  line-height: 21px;
}

.flex-container .card2 {
  z-index: 99999;
}

.grid-container2 {
  padding: 1rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grid-container2 .card1 img {
  height: 500px;
  margin-top: 3rem;
}

.grid-container2 .card2 img {
  height: 600px;
}

.grid-container2 .card3 {
  margin: 50px auto;
  padding: 1rem 5rem 0 0;
}

.grid-container2 .card3 h1 {
  height: 270px;
  font-weight: 400;
  font-size: 49px;
  line-height: 50px;
  letter-spacing: 3px;
  color: #230B59;
}

.grid-container2 .card3 p {
  height: 80px;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #230B59;
}

.grid-container2 .card3 .btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0;
  margin: 30px auto;
}

.grid-container2 .card3 .btn-group .btns1 {
  background: #4840BB;
  border-radius: 6px;
  padding: .9rem 1.5rem;
  color: #fff;
  border: 0;
  font-size: 1rem;
}

.grid-container2 .card3 .btn-group .btns2 {
  height: 40px;
  font-weight: 700;
  font-size: 1rem;
  line-height: 22px;
  color: #230B59;
  border: 0;
  background: transparent;
  margin-right: 2rem;
}

.grid-container3 {
  background-color: #4840BB;
  margin: 30px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grid-container3 .card1 {
  padding: 2rem 5.5rem 2.5rem 2.5rem;
}

.grid-container3 .card1 h1 {
  height: 270px;
  font-weight: 400;
  font-size: 56px;
  line-height: 50px;
  letter-spacing: 3px;
  color: #FFFFFF;
  padding-top: 2.5rem;
  padding-right: 2rem;
}

.grid-container3 .card1 p {
  padding-top: 2rem;
  height: 87px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.grid-container4 {
  height: 563px;
  background: #230B59;
  border-radius: 0px;
  position: relative;
}

.grid-container4 .for-position {
  position: absolute;
  bottom: -110px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 0 4rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grid-container4 .for-position .card {
  background: #FFFFFF;
  border-radius: 6px;
  padding: 2.5rem 2rem;
  height: 400px;
}

.grid-container4 .for-position .card h5 {
  height: 17px;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: #230B59;
  padding: 1rem 0 2rem 0;
}

.grid-container4 .for-position .card h2 {
  color: #230B59;
  height: 210px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 44px;
  margin-bottom: 2rem;
}

.grid-container4 .for-position .card h2 span {
  color: #140635d3;
  font-weight: 600;
}

.grid-container4 .for-position .card h6 {
  height: 17px;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: #230B59;
  margin-top: 3.5rem;
}

.flex-container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0 2rem 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-container2 .card h1 {
  width: 850px;
  height: 162px;
  font-weight: 400;
  font-size: 58px;
  line-height: 54px;
  text-align: center;
  letter-spacing: 3px;
  color: #230B59;
  margin-right: 2rem;
}

.flex-container2 .card h1 span {
  color: #1e113b;
  font-weight: 600;
}

.flex-container2 .card button {
  background: #4840BB;
  border-radius: 6px;
  padding: .9rem 1.5rem;
  color: #fff;
  border: 0;
  font-size: 1rem;
  margin-top: 2.7rem;
  margin-left: 44%;
}

.h5 {
  text-transform: uppercase;
  text-align: center;
  padding: 4rem 0 2rem 0;
  color: #230B59;
}

.grid-container5 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 2fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  gap: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.grid-container5 .item h3 {
  color: #230B59;
  font-weight: 900;
}

.grid-container5 .item i {
  font-size: 2.5rem;
  color: #230B59;
  font-weight: bolder;
  margin-bottom: 0;
}

.grid-container5 .item .h3 {
  color: #230B59;
  font-weight: 900;
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.grid-container5 .item .wsj {
  font-weight: 400;
  color: #230B59;
  font-size: 1.5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 1.5rem;
}

.grid-container5 .item img {
  margin-top: 1rem;
}

.grid-container5 .item .reuters {
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 2px;
  font-size: 1.7rem;
  color: #230B59;
  font-weight: 800;
  margin-top: 1rem;
}

.grid-container5 .item .reuters i {
  font-size: 2.3rem;
  margin-right: 1rem;
  margin-left: .3rem;
}

.container-fluid {
  height: 700px;
  margin: 3.7rem 0;
  background: #18172B;
  border-radius: 0px;
}

.container-fluid .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem 0;
}

.container-fluid .container .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1.5rem 0;
}

.container-fluid .container .grid-container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-fluid .container .grid-container .logo h1 {
  color: #fff;
  font-weight: bolder;
}

.container-fluid .container .grid-container .logo img {
  width: 5%;
  height: 40px;
}

.container-fluid .container .grid-container ul {
  list-style: none;
}

.container-fluid .container .grid-container ul li {
  color: #fff;
  line-height: 36px;
  font-weight: 400;
}

.container-fluid .container p {
  color: rgba(220, 220, 220, 0.596);
  line-height: 29px;
  font-size: 14px;
  margin-top: 1.5rem;
}
/*# sourceMappingURL=index.css.map */